img{
    height: 350px;
    width: auto;
    display: block;
    margin: auto;
}

.title{
    background-color: rgba(0, 0, 255, 0.3);
    text-align: center;
}

.recipes{
    background-color: rgba(255, 0, 0, 0.3);
    margin: 10px;

}

.desc,
.ing,
.steps{
    background-color: rgba(0, 255, 0, 0.3);
    text-align: center;
    color:navy;
}
/*

* {
    border: 2px solid red;
  }

  */
  /*

padding: increases the space between the edge of a box and the content inside of it.
 
margin: increases the space between a box and any others that sit next to it.

border: adds space (even if it’s only a pixel or two) between the margin and the padding.

*/